
logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
app/assets/javascripts/build
node_modules
app/parser/perform-csv
app/parser/project
app/parser/target
app/parser/DataCore.db
app/parser/DataCore.db-journal
sampleData
sampleData/
/sampleData
/sampleData/
